.post{
    background-color: #eee;
    margin: 2rem;
    padding: 1rem;
    height: 100px;
  }
  
  .active{
    border: 1px solid black;
    border-radius: 100%;
    padding: 0 3px;
    outline: none;
  }
  
  .grid{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr 1fr ;

 
  
  
  margin: 13% auto 1em;
  gap:1em;
  width: 97%;
  
  }

  .loader{
display: flex;
width: 5%;
justify-content: space-between;
margin: 0 auto;
margin-bottom: 1em;
  }

  .dot{
    width:10px;
    height: 10px;
    background: rgb(16, 39, 59);
    border-radius: 50%;
    animation:  glowDot 2s infinite ;
  }

  @keyframes glowDot {
    0%{
      background: rgb(7, 20, 32);
    }
    50%{
      background: rgb(49, 96, 138);
    }
    100%{
      background: rgb(7, 20, 32);
    }
  }