.photo-item{
    background-color: #eee;
    background: rgb(37,72,100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.3em;
    height:fit-content;
    width: fit-content;
    box-shadow:5px 5px 6px 1px rgb(16, 39, 59);
  }

  .photo-item-top  {
    background: rgb(52,89,121);
    width: 100%;
    
    padding:0.5em 0;
    }

    
    .photo-item-bottom{
        background:rgb(24,50,70);
        width: 95%;
        padding: 0.5em;
        font-size: 0.8rem;
        text-align: left;
        color:rgb(64, 99, 129);
    }

  .photo-item-top > img {
    width:18%;
    height: 90%;
    border-radius: 17px;
    
    }

    .photo-item-middle{
        padding:1em;
        font-size: 0.8rem;
        color:rgb(79,115,148);
    }
    .photo-title{
        display: inline-block;
        width: 180px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        color:white;
        font-weight: 500;
        font-size: 1rem;
    }