.header{
    margin-left: 1em;
    
    position: absolute;
    z-index: 1;
}

h1{
    color:white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    text-align: left;
}

.search-and-album{
    display: flex;
}

.current-album{
    font-size: 0.9rem;
    color:gray;
}